<!DOCTYPE html>
<html lang="en">
    <head>
        <title>austin w n</title>
        <link rel="stylesheet" href="./styles/main.css">
    </head>
    <body>
        <div class="toolbar-banner">
            <div class="logo">
                <a class="home-link" href="/">
                    <img src="./assets/images/logo.jpeg" alt="logo">
                </a>
            </div>
            <nav class="header-nav">
                <div class="interest-link-container">
                    <a class="interest-link" href="/piping">Piping Engineering</a>
                </div>
                <div class="interest-link-container">
                    <a class="interest-link" href="/reading">Reading</a>
                </div>
                <div class="interest-link-container">
                    <a class="interest-link" href="/writing">Writing</a>
                </div>
            </nav>
        </div>
    </body>
</html>